﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Извините!</h1>
        <h2>При обработке вашего запроса произошла ошибка.</h2>
    </hgroup>
</body>
</html>

