﻿@model ITsolution.Web.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Добавление продукта";
}
<a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-arrow-left"></span></a>
<h2>Добавление продукта</h2>

@Html.Partial("AddEdit", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}