﻿@model ITsolution.Web.ViewModels.ProductViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-group row">
        @Html.LabelFor(x => x.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Link, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(x => x.Link)
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Categories, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.Categories)
        </div>
    </div>
    @Html.HiddenFor(x => x.ProductID)
    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}
