﻿@model IEnumerable<ITsolution.Web.ViewModels.IndexProductViewModel>

@{
    ViewBag.Title = "Тестовое задание";
}

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Супер! </strong>
        @TempData["StatusMessage"]
    </div>
}
    <h2>Список продуктов</h2>

    <p>
        @Html.ActionLink("Добавить продукт", "Add")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link,"SimpleLink")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Home", new { id = item.ProductID })"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </table>




@if (TempData["StatusMessage"] != null)
{
    @section Success {
    <script type="text/javascript">
            $(document).ready (function(){
                $("#success-alert").alert();
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(500);
            });
    });
    </script>
    }
}